<?xml version="1.0"?>
<launch>

<arg name="model" default="$(find xacro)/xacro '$(find noob_robot_description)/urdf/noob_robot.urdf.xacro'" />
<param name="use_gui" value="false"/>
<param name="robot_description" command="$(arg model)" />

<!--joint state publisher-->
<!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->

<!--robot state publisher,for TF-->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!--RVIZ-->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find noob_robot_description)/config/noob_chassis_urdf.rviz" required="true" />

</launch>
